:root {
  /* Set neon color */
  --neon-text-color: #f9f9f9;
  --neon-border-color: #2661bf;
  --gradient-begin: #A27BCE;
  --gradient-end: #5D3A8C;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  height: auto !important;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, #500a91 0%, #2f0d4f 100%);
}

main {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 24px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.container-item {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 6px;
  background-color: #F0EFF0;
}

.container-item .description-item {
  color: #2F2F2F;
  word-break: keep-all;
  text-align: start;
  user-select: none;
  background-color: #ECECEC;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 4px;
}

.container-item .link {
  align-self: center;
  user-select: none;
}


.title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.title {
  font-size: 3rem;
  color: #f9f9f9;
  font-weight: 500;
  user-select: none;
  z-index: 10;
  color: var(--neon-text-color);
}

.container-language {
  position: absolute;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--neon-text-color);
  display: flex;
  gap: 8px;
  top: 10px;
}

@media (max-width: 40rem) {
  .container-language {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: var(--neon-text-color);
  }
}

.text-language,
.container-language span {
  user-select: none;
}


.rocket {
  cursor: grab;
  user-select: none;
  font-size: 32px;
}

.launch {
  animation: launch 5s forwards;
}

.link-list {
  position: relative;
  padding: 24px;
  border-radius: 6px;
  min-width: 400px;
  max-width: 600px;
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: 1fr;
  border: 0.1px solid #fff;
  background-color: var(--neon-border-color);
  margin-bottom: 1rem;
}

.link-list:hover {
  animation: flicker 2s infinite backwards;
}

.container-footer {
  padding-block: 1.25rem;
  text-align: center;
  display: flex;
  margin: 0 auto;
  z-index: 50000;
}

.container-footer p {
  color: #f9f9f9;
  font-size: 1rem;
}

.container-footer .author {
  font-weight: 500;
  padding-inline: 8px;
  padding-block: 4px;
  color: #333;
  background-color: #f3f3f3;
  transition: opacity ease-in-out .2s;
  border-radius: 4px;
}

@media (max-width: 40rem) {
  .container-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .title {
    font-size: x-large;
  }

  .link-list {
    max-width: auto;
    grid-template-columns: 1fr;
    min-width: 220px;
  }

  .link {
    padding-inline: 2px;
    padding-block: 4px;
  }
}

.link {
  min-width: 160px;
  padding-inline: 4px;
  padding-block: 8px;
  border: #182848 solid 1px;
  color: #f5f5f5;
  text-align: center;
  border-radius: 3px;
  transition: opacity ease-in-out .5s;
  opacity: 100;
  border: none;
  background: linear-gradient(33deg, var(--gradient-begin), var(--gradient-end));
  transition: opacity .2s ease-out;
  box-shadow: 0 5px 10px #0002;

  &:before {
    background-color: var(--gradient-begin);
  }

  &:after {
    content: var(--gradient-start-text);
  }
}

.author:hover,
.link:hover {
  opacity: 0.8;
}

@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {


    box-shadow:
      0 0 .1rem #4b6cb7,
      inset 0 0 .5rem #4b6cb7,
      0 0 1rem var(--neon-border-color),
      inset 0 0 1rem var(--neon-border-color),
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}


@keyframes textflicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

    text-shadow:
      -0.1rem -0.1rem .5rem #fff,
      0.1rem 0.1rem .5rem #fff,
      0 0 5rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes launch {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(100vw, -100vh) scale(0.5);
  }
}