.flex{
  display: flex;
}

.fixed{
  display: fixed;
}

.grid{
  display: grid;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.gap-1{
  gap: 0.25rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap:12;
}

.gap-4{
  gap:1rem;
}

.gap-5{
  gap:1.5rem;
}

.gap-20p{
  gap:1.25rem;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

