section.hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  & h1 {
    max-width: 40rem;
  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: bottom;
  }

  & h1 span:nth-child(1),
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }

  & h1 span:nth-child(3) {
    color: var(--snitap-leaft-mid);
  }

  & h1 span {
    display: block;
    animation: slideUp 6s 3s infinite ease;
  }

  /* Buttons  */
  & .buttons {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;

    & .button {
      display: flex;
      align-items: center;
      border-radius: 1.5rem;
      gap: 0.75rem;
      transition: scale 350ms;


      &.buy {
        padding: 1rem 2rem;
        background-color: var(--snitap-sun);
      }

      &.play span {
        display: flex;
        padding: 1.5rem;
        border-radius: 50%;
        background-color: white;
      }

      &:hover {
        scale: 1.1;
      }
    }

    & .shadow {
      box-shadow: 0 2px 5px rgba(0, 0, 0, .1),
        0 9px 9px rgba(0, 0, 0, .09),
        0 20px 12px rgba(0, 0, 0, .05),
        0 36px 15px rgba(0, 0, 0, .01);
    }
  }

  /* Pattins */
  &>div:nth-child(2) {
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
    }

    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="ellipse"] {
      width: 94%;
      top: 3%;
      left: 3%;

      transform: translateX(200%);
      animation: slideIn 3s 200ms ease forwards;
    }

    & img[src*="patins"] {
      z-index: 1;
      transform: translateX(200%);
      animation: slideIn 3s ease forwards;
    }

    & img[src*="stars-1"] {
      max-width: 5.5rem;
      top: 30%;
      z-index: 0;

      opacity: 0;
      transform: translateX(400%);
      animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
    }

    & img[src*="stars-2"] {
      max-width: 2.5rem;
      right: 0;
      bottom: 35%;
      z-index: 0;

      transform: translateX(400%);
      animation: slideIn 2.2s 800ms ease forwards;
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media(max-width:80em) {
  section.hero {
    flex-direction: column-reverse;

    & .buttons {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width:22.5em) {
  section.hero {
    & h1 {
      font-size: 2rem;
      max-width: 19.5rem;
    }

    & h1 div {
      height: 2.55rem;
    }

    &>div:nth-child(2) {
      max-width: 19.5rem;
      height: 19.5rem;
    }

    & h1 span {
      animation: slideUpSmall 6s 3s infinite ease;
    }
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes slideUp {

  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-5rem-15px))
  }

  25% {
    transform: translateY(calc(-5rem+10px))
  }

  27% {
    transform: translateY(calc(-5rem - 5px))
  }

  29% {
    transform: translateY(calc(-5rem + 5px))
  }

  33%,
  55% {
    transform: translateY(-5rem);
  }

  56% {
    transform: translateY(calc(-10rem-15px))
  }

  58% {
    transform: translateY(calc(-10rem+10px))
  }

  60% {
    transform: translateY(calc(-10rem - 5px))
  }

  62% {
    transform: translateY(calc(-10rem + 5px))
  }

  66%,
  88% {
    transform: translateY(-10rem);
  }

  89% {
    transform: translateY(calc(-15rem-15px))
  }

  91% {
    transform: translateY(calc(-15rem+10px))
  }

  93% {
    transform: translateY(calc(-15rem - 5px))
  }

  95% {
    transform: translateY(calc(-15rem + 5px))
  }

  100% {
    transform: translateY(-15rem);
  }
}

@keyframes slideUpSmall {

  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-2.55rem - 15px));
  }

  25% {
    transform: translateY(calc(-2.55rem + 10px));
  }

  27% {
    transform: translateY(calc(-2.55rem - 5px));
  }

  29% {
    transform: translateY(calc(-2.55rem + 5px));
  }

  33%,
  55% {
    transform: translateY(-2.55rem);
  }

  56% {
    transform: translateY(calc(-5.1rem - 15px));
  }

  58% {
    transform: translateY(calc(-5.1rem + 10px));
  }

  60% {
    transform: translateY(calc(-5.1rem - 5px));
  }

  62% {
    transform: translateY(calc(-5.1rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-5.1rem);
  }

  89% {
    transform: translateY(calc(-7.65rem - 15px));
  }

  91% {
    transform: translateY(calc(-7.65rem + 10px));
  }

  93% {
    transform: translateY(calc(-7.65rem - 5px));
  }

  95% {
    transform: translateY(calc(-7.65rem + 5px));
  }

  100% {
    transform: translateY(-7.65rem);
  }
}