.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-gray-100 {
  background-color: var(--base-gray-100);
}

.b-gray-300 {
  border: 1px solid var(--base-gray-300);
}

.b-radius-4 {
  border-radius: 16px;
}

.text-base {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-sm {
  font-size: var(--text-sm);
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bold {
  font-weight: bold;
}