.terms-wrapper{
  align-items: flex-start;
  margin-top: 3rem;
  gap: .75rem;

  & strong{
    font-weight: 500;
    color: var(--text-highlight);
  }
}

.checkbox-wrapper{
  position: relative;
  transition: all ease-in .2s;
  & [type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
  }
    .check-image {
      flex: 0 0 1.5rem;
      height: 1.5rem;
      background-image: url(../../assets/check-default.svg);
    }

    &:hover, &:focus-within{
      .check-image{
        background-image: url(../../assets/check-hover.svg);
      }
    }

    &:has(:checked) .check-image{
      background-image:url(../../assets/check-checked.svg);

      }
    }
  